.button-style {
    background-color: indianred;
    color: ivory;
    border: indianred;
}

.button-style:disabled {
    background-color:darkgray;
}

.button-style:hover {
    background-color: rgb(255, 87, 87);
}